@use '../../sass/colors';
@use '../../sass/fonts';

.product-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 2vw;
    margin-bottom: 3rem;
    width: 18vw;
    min-width: 230px;
    height: 35vw;
    min-height: 420px;
    max-height: 640px;
    border-radius: 30px;
    border: 1px solid #ffffff33;
    font-family: fonts.$font-secondary;
    color: colors.$font-color-secondary;
    transition: 0.3s;

    .name-brand{
        min-height: 30%;
        .title{
            margin: 0;
            padding: 40px;
            padding-bottom: 0px;
            font-size: clamp(1rem, calc(0.5rem + 1vw), 2.5rem);
        }
        .brand{
            color: rgb(175, 144, 144);
            padding-left: 40px;
            align-self: flex-start;
        }
    }

    .image{
     min-height: 30%;
     max-height: 40%;
        img{
            position: relative;
            top: -3.6vw;
            left: -1.5vw;
            width: 20vw;
            min-width: 220px;
            height: 20vw;
            min-height: 220px;
            transform: rotate3d(0,1,0,180deg) + rotate(25deg);
            transition: 0.3s;

            @media (max-width: 1200px) {
                top: -40px;
            }
        }
    }
    .value-btn{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        min-height: 30%;
        margin-bottom: 0.5rem;

        @media (max-width: 1440px) {
            margin-bottom: 1.5rem;
        }

        .price{
           position: relative;
           margin: 0;
           padding: 0.5rem 0;
           font-size: clamp(3rem, calc(2rem + 1.8vw), 4.3rem);

       }

       button{
           position: relative;
           height: 2.2rem;
           font-size: 1rem;
           padding: 0.5rem;
           margin-top: 0.5rem;
           border-radius: 10px;
           background-color: transparent;
           font-family: fonts.$font-secondary;
           color: colors.$font-color-secondary;
           border: 1px solid white;
           cursor: pointer;
           transition: 0.3s;
           letter-spacing: 0.1rem;

           &:hover{
           background-color: colors.$font-color-secondary;
           color: rgb(156, 21, 21);
           letter-spacing: 0.4rem;
           }
       }
       }

    &:hover{
        box-shadow: 0px 0px 30px rgb(255, 255, 255);
    }

    &:hover img{
        transform: rotate3d(0,1,0,180deg) + rotate(25deg) + scale(1.2);
    }
    background-image: linear-gradient(to right top, #ffffff33, #cecece33, #a0a0a033, #73737333, #4a4a4a33);
    backdrop-filter: blur( 3.5px );
    -webkit-backdrop-filter: blur( 3.5px );
}
