@use '../../sass/colors';

.loader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    line-height: 6rem;
    background-color: rgb(19, 18, 18) ;

    h2{
        margin: 0;
        color: #fff;
        font-size: 3rem;
    }

    i{
        color: #fff;
        font-size: 3rem;
    }
}