@use '../../sass/fonts';
@use '../../sass/colors';

.sneakers{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(to left bottom, #210000, #310706, #440609, #57040a, #6a0108, #7b070d, #8d0f10, #9f1713, #b52520, #cb312e, #e13e3b, #f84a4a);
    background-repeat: no-repeat;

    header{
        height: 15vh;
    }
    .sort{
        display: flex;
        justify-content: right;
        margin-bottom: 2.5rem;
        margin-right: 5vw;
    }
    main{
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 0;
        margin-top: 2rem;
        padding: 0 1rem;
        
        @media (max-width: 1260px) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        aside{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            width: 25%;
            margin: 0 1rem;
        }

        section{
            width: 75%;
            display: flex;
            flex-direction: column; // PAGINATION
            margin: 0 1rem;
            @media (max-width: 1260px) {
                justify-content: center;
                width: 100%;
                margin: 0;
            }

            .cards{
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                @media (max-width: 1260px) {
                    justify-content: center;
                }
            }

            .noResults{
                width: 100%;
                text-align: center;
                margin-top: 10rem;
                color: colors.$font-color-secondary;
                font-family: fonts.$font-secondary;
                font-size: 2rem;
                font-weight: 300;
                letter-spacing: 0.05rem;
            }

            .pagination{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: 100%;
                margin: 1rem 0;
                margin-bottom: 3rem ;

                .paginationContainer{
                text-align: center;
                width: 40%;
                p{
                    font-family: fonts.$font-secondary;
                    color: colors.$font-color-secondary;
                    letter-spacing: 0.1rem; 
                }
                    .buttonsPagination{
                        button{
                            margin: 6px;
                            background-color: transparent;
                            border-radius: 50%;
                            padding: 0.8rem 1rem;
                            border: 1px solid colors.$font-color-3;
                            font-family: fonts.$font-secondary;
                            color: colors.$font-color-3;
                            cursor: pointer;
                            transition: 0.3s;

                            &:hover{
                                color: rgb(255, 255, 255);
                                border: 1px solid rgb(255, 255, 255);
                                filter: brightness(500%);
                                box-shadow: 0px 0px 6px rgb(255, 255, 255);
                                text-shadow: 0px 0px 6px rgb(255, 255, 255);
                                transition: 0.3s;
                            }  
                        }
                    }
                }
            }
        } 
    }
}

.error{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 90vh;
    font-family: fonts.$font-secondary;
    color: colors.$font-color-secondary;
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
    line-height: 1.2rem;
}

//Common breakpoints for widths of devices:

// 320px — 480px: Mobile devices
// 481px — 768px: iPads, Tablets
// 769px — 1024px: Small screens, laptops
// 1025px — 1200px: Desktops, large screens
// 1201px and more —  Extra large screens, TV