
.sneakers{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(to left bottom, #210000, #310706, #440609, #57040a, #6a0108, #7b070d, #8d0f10, #9f1713, #b52520, #cb312e, #e13e3b, #f84a4a);
    background-repeat: no-repeat;

    header{
        height: 20vh;
    }
    main{
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 0;
        aside{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
            width: 25%;
            .filters{
                width: 70%;
                height: 70vh;
                border-radius: 30px;
                background-image: linear-gradient(to right top, #ffffff33, #cecece33, #a0a0a033, #73737333, #4a4a4a33);
                border: 1px solid #ffffff33;

                backdrop-filter: blur( 3.5px );
                -webkit-backdrop-filter: blur( 3.5px );
            }
        }
        section{
            display: flex;
            flex-wrap: wrap;
            width: 75%;
        }
    }
}
