@use '../../sass/colors';
@use '../../sass/fonts';

%font-stylish{
    font-family: "outback";
    font-style: italic;
    color: rgb(214, 214, 214);
    font-size: clamp(3rem, calc((3rem + 20vw) / 2), 12rem); 
    padding: 0 3vw;
    text-align: center;

    background-image: linear-gradient(to bottom, #ff9c32, #ffa74c, #ffb163, #ffbc7a, #ffc690, #fece9e, #fdd6ac, #fcddbb, #fce3c5, #fce9cf, #fcefda, #fdf4e5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(5px 10px 10px rgba(0, 0, 0, 1));      
}

body{
    margin: 0;
    padding: 0;
    background-color: rgb(19, 18, 18);
}

.contact{
    min-height: 100vh;
    width: 100%;
    background-color: rgb(216, 216, 216);
    header{
        .contact-header{
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            width: 100%;
            height: 100%;
            padding: 0rem 1.2rem;
            
            overflow: hidden;
            background: linear-gradient(to left bottom, rgba(33, 0, 0, 0.99), rgba(49, 7, 6, 0.98), rgba(68, 6, 9, 0.97), rgba(87, 4, 10, 0.95), hsla(356, 98%, 21%, 0.93), rgba(120, 7, 13, 0.91), rgba(141, 15, 15, 0.89), rgba(159, 24, 19, 0.87), rgba(181, 37, 32, 0.85), hsla(1, 63%, 49%, 0.83), rgba(225, 62, 59, 0.81), rgba(248, 74, 74, 0.81)), url("/src/assets/vans-bg.webp");
            background-repeat: no-repeat;
            background-position: center top 0px;
            background-size: cover;
            background-attachment: fixed;
            clip-path: polygon(0 0, 100% 0, 100% 75%, 50% 90%, 0 75%);
            
            .wrap-text-contact{
                margin-bottom: 5rem;
                h2{
                    @extend %font-stylish;
                }
            }
        }
    }
    main{
        min-height: 100vh;  

        section{
            .info-contact{
                width: 100%;
                min-height: 50vh;
                padding: 0 10vw;

                .info-icons{
                    margin: 0 auto;
                    display: grid;
                    grid-gap: 30px;
                    grid-template-columns: repeat(3, 1fr);
                    justify-content: center;
                    text-align: center;
                    width: 100%;
                    height: 100%;
                    color: colors.$font-color-primary;
                    font-family: fonts.$font-secondary;

                    @media (max-width: 768px){
                    grid-template-columns: repeat(1, 1fr);
                    grid-gap: 0px;
                    }

                    .info-icon{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        margin: 0 5vw;

                        i{
                            font-size: clamp(1rem, calc(0.5rem + 5vw), 3rem);
                            margin-bottom: 1rem;
                            @media (max-width: 768px){
                                margin-top: 2rem;
                                margin-bottom: 0;
                            }
                        }
                        h3{
                            margin: 0;
                            font-size: clamp(0.6rem, calc(0.6rem + 0.8vw), 1.1rem);
                        }
                        .container{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: clamp(0.6rem, calc(0.6rem + 2vw), 2.8rem);
                            margin-bottom: 1rem;
                        }                  
                    }
                }
            }
        }

        section{
            display: flex;
            justify-content: center;
            font-family: fonts.$font-secondary;
            color: colors.$font-color-primary;

            @media (max-width: 768px) {
                    flex-direction: column;
            }

            .messageUs-container{
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                width: 50%;
                margin-top: 2rem;

                @media (max-width: 768px) {
                    width: 100%;
                    align-items: center;
                    text-align: center;
                }

                .messageUs{
                width: 60%;
                padding-right: 3rem;

                @media (max-width: 768px) {
                    width: 70%;
                    padding-right: 0;
                }
                    h2{
                        font-size: clamp(1rem, calc(0.5rem + 5vw), 3rem);
                    }
                    p{
                        width: 95%;
                    }
                    .logo{
                        display: flex;
                        align-items: center;

                        @media (max-width: 768px) {
                            justify-content: center;
                        }
                        h3{
                            display: inline;
                            font-size: 2rem;
                            margin-bottom: 2rem;
                        }
                        img{
                            width: 10%;
                            margin-right: 0.5rem;
                        }
                    }
                }
            }
            .form-container{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 50%;

                @media (max-width: 768px) {
                    width: 100%;
                }
                .loader-form{
                    text-align: center;
                    margin-bottom: 3rem;
                    margin-right: 18rem;
                    h2{
                        font-size: 3.5rem;
                    }
                    i{
                        font-size: 4rem;
                    }
                }
                .form{
                width: 100%;
                margin-left: 2rem;
                @media (max-width: 768px) {
                    margin-right: 10%;
                    margin-left: 10%;
                }
                    form{ 
                        @media (max-width: 768px) {
                            display: flex;
                            flex-direction: column;
                        }
                        input[type=text],
                        input[type=email],
                        textarea{
                            display: block;
                            width: 60%;
                            margin: 1rem 0;
                            padding: 0.5rem 1rem;
                            border: 1px solid #808080;
                            border-radius: 30px;
                            font-family: fonts.$font-secondary;
                            transition: all .5s;
                            background-color: #ffffff;
                            padding-left: 25px;

                            @media (max-width: 768px) {
                                width: 100%;
                            }
                        }
                        textarea{
                            border-radius: 20px;
                        }
                        input[type=search]:focus {
                            border-color: #ffffff;
                            box-shadow: 0 0 10px #c5c5c5;
                        }
                        input[type=submit]{
                            bottom: 60px;
                            left: 40px;
                            height: 2.5rem;
                            font-size: 1rem;
                            padding: 0.5rem 1rem;
                            margin-top: 0.5rem;
                            border-radius: 10px;
                            background-color: colors.$font-color-primary;
                            font-family: fonts.$font-secondary;
                            color: colors.$font-color-secondary;
                            border: none;
                            cursor: pointer;
                            transition: 0.3s;
                            letter-spacing: 0.1rem;
                    
                            &:hover{
                            letter-spacing: 0.3rem;
                            }

                            @media (max-width: 768px) {
                                margin-top: 20px;
                            }
                        }
                        .inputError{
                            color:#df1414;
                        }
                    }
                    .inputSuccess{
                        color:#069c06;
                    }
                }
            }     
        }

        section{
            .google-map{
                margin-top: 8rem;
                width: 100%;
                height: 450px;
                border: 0;
            }
        }
    }
    textarea{
        resize:none;
    }
}

//Common breakpoints for widths of devices:

// 320px — 480px: Mobile devices
// 481px — 768px: iPads, Tablets
// 769px — 1024px: Small screens, laptops
// 1025px — 1200px: Desktops, large screens
// 1201px and more —  Extra large screens, TV