@use '../../sass/fonts';
@use '../../sass/colors';

.filters{
    width: 280px;
    height: 710px;
    padding: 2.5rem;
    margin-bottom: 3rem;
    border-radius: 30px;
    background-image: linear-gradient(to right top, #ffffff33, #cecece33, #a0a0a033, #73737333, #4a4a4a33);
    border: 1px solid #ffffff33;
    font-family: fonts.$font-secondary;
    font-weight: 300;
    letter-spacing: 0.08rem;
    line-height: 1.2rem;

    h3{
        margin: 0;
        margin-bottom: 1rem;
    }

    @media (max-width: 1260px) {
        width: 60vw;
        min-width: 510px;
        height: 350px;
    }
    @media (max-width: 537px) {
        min-width: 280px;
        width: 280px;
        height: 710px;
    }

    form{
        @media (max-width: 1260px) {
            display: flex;
            justify-content: space-around;
            width: 50vw;
            min-width: 450px;
        }
        @media (max-width: 537px) {
            flex-direction: column;
            width: 1vw;
            min-width: 220px;
        }
    }

    //Glasmorphism
    backdrop-filter: blur( 3.5px );
    -webkit-backdrop-filter: blur( 3.5px );

    //SORT LIST
    .sortList{
        margin: 1.5rem 0;
        select {
            outline: none;
        }
        select{
            width: 170px;
            padding: 0.2rem 1rem;
            border: 1px solid #808080;
            border-radius: 30px;
            font-family: fonts.$font-secondary;
            transition: all .5s;
            background-color: colors.$font-color-secondary;
            padding-left: 15px;
            color:#494949
        }
        select:focus {
            border-color: #ffffff;
            box-shadow: 0 0 10px #c5c5c5;
        }
    }

    form{
        input {
            outline: none;
        }
        input[type=search]{
            width: 90%;
            padding: 0.5rem 1rem;
            border: 1px solid #808080;
            border-radius: 30px;
            font-family: fonts.$font-secondary;
            transition: all .5s;
            background: url("https://upload.wikimedia.org/wikipedia/commons/e/e9/Vector_search_icon.png") no-repeat scroll 14px 12px;
            background-color: colors.$font-color-secondary;
            padding-left: 35px;
        }
        input[type=search]:focus {
            border-color: #ffffff;
            box-shadow: 0 0 10px #c5c5c5;
        }
        label{
            margin-left: 0.5rem;
            color: colors.$font-color-secondary;
        }
        h3{
            color: colors.$font-color-secondary;
        }
        input[type=checkbox]{
            margin-left: 0.1rem;
            background-color: colors.$font-color-secondary;
        }
    }

    
}