@use '../../sass/colors';
@use '../../sass/fonts';

@mixin shoeColor($shoe-color){
    width: 15px;
    height: 15px;
    background-color: $shoe-color;
    border-radius: 50%;
    border:1px solid #dbdbdb;
    cursor: pointer;
    transition: 0.3s;
    margin: 0 0.3rem;
    opacity: 0.8;

    &:hover{
        opacity: 1;
        filter: brightness(180%);
        transition: 0.3s;
    }       
    
    @media(max-width: 420px) {
        width: 10px;
        height: 10px;   
    }
}

.modal{
    display: none;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);

    .container{
        position: relative;
        width: 60vw;
        height: 80vh;
        display: flex;
        background-color: colors.$font-color-secondary;
        padding: 1rem;
        overflow: hidden;

        @media(max-width: 1200px) {
            flex-direction: column;
            overflow: scroll;
        }
        @media(max-width: 1200px) {
            width: 100vw;
            min-height: 100vh;
        }

        .image{
            display: flex;
            justify-content: center;
            align-items: center;
            
            padding-right: 6rem;
            width: 65%;
            background: radial-gradient(#8892f1, #0c0e33);

            @media(max-width: 1200px) {
                width: 100%;
                padding-right: 2rem;
            }

            .test{
                mix-blend-mode: hue;
            }

            img{
                width: 38vw;
                height: 38vw;
                transform: rotate3d(0,1,0,180deg) + rotate(25deg);
                
                @media(max-width: 1200px) {
                    min-width: 250px;
                    min-height: 250px;
                }
            }
            
        }

        .data{
            z-index: 1;
            width: 35%;
            background-color: #121113;
            color:colors.$font-color-secondary;
            font-family: fonts.$font-secondary;
            letter-spacing: 0.1rem;
            line-height: 2.4rem;
            line-height: 3rem;
            padding: 4rem 2rem;
            font-size: clamp(3rem, calc(2rem + 1.8vw), 4.3rem);
            font-size: clamp(0.4rem, calc(0.4rem + 2vw), 1rem);
            overflow-y: scroll;

            @media(max-width: 1200px) {
                width: 100%;
                padding: 2rem;
            }

            h1{
                margin: 0;
                padding-bottom: 2rem;
                font-size: clamp(1rem, calc(0.8rem + 2vw), 2rem);
                
                @media(max-width: 1200px) {
                    width: 100%;
                }
            }

            .colorway{
                display: flex;
                align-items: center; 

                @media(max-width: 1450px) {
                    display: block;
                }
                @media(max-width: 1200px) {
                    display: flex;
                }
                @media(max-width: 420px) {
                    display: block;
                }

                span{
                    display: flex;
                }
                .normal{
                    @include shoeColor(#b5afbb);
                }
                .blue{
                    @include shoeColor(#0044d6);
                }
                .brown{
                    @include shoeColor(#FF5500);
                }
                .turquoise{
                    @include shoeColor(#00B3B3);
                }
                .green{
                    @include shoeColor(#44CC00);
                }
                .pink{
                    @include shoeColor(#E645A0);
                }
                .red{
                    @include shoeColor(#e64545);
                }
                .purple{
                    @include shoeColor(#8400ff);
                }
            }

            .addChart{
                display: block;
                margin: 0 auto;
                margin-top: 4rem;
                padding: 0.5rem 1rem;
                border: 1px solid colors.$font-color-secondary;
                border-radius: 2rem;
                background-color: transparent;
                color:colors.$font-color-secondary;
                font-size: 1.3rem;
                text-align: center;
                cursor: pointer;
                transition: 0.3s;

                &:hover{
                    background-color: colors.$font-color-secondary;
                    color: #121113;
                    transition: 0.3s;
                    letter-spacing: 0.2rem;
                }
                @media(max-width: 1300px) {
                    margin-top: 1rem;
                }
                @media(max-width: 1200px) {
                    margin: 2rem auto;
                }
            }

            .addedToCart{
                @extend .addChart;
                background-color: green;
                &:hover{ 
                    background-color: green;
                    color:colors.$font-color-secondary;
                    letter-spacing: 0rem;
                    cursor: not-allowed;
                }
            }

            .counter{
                border: 1px solid colors.$font-color-secondary;
                border-radius: 50%;
                padding: 0 0.5rem;
                background-color: transparent;
                color:colors.$font-color-secondary;
                font-size: 1.2rem;
                text-align: center;
                cursor: pointer;
                transition: 0.3s;
                &:hover{
                    background-color: colors.$font-color-secondary;
                    color: #121113;
                    transition: 0.3s;
                }
            }
        }

        .modal-close{
            position: absolute;
            top: 1rem;
            right: 1.8rem;
            margin: 0.5rem;
            color:colors.$font-color-secondary;
            font-size: 1.7rem;
            background-color: transparent;
            border:none;
            border-radius: 50%;
            cursor: pointer;
            
            i{
                transition: 0.3s;
                &:hover{
                    color: rgb(255, 255, 255);
                    filter: brightness(500%);
                    text-shadow: 0px 0px 30px rgb(255, 255, 255);
                    transition: 0.3s;
                }
            }
        }
    }

}

.is-open{
    display: flex;
    justify-content: center;
    align-items: center;
}
