@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");
@font-face {
  font-family: "outback";
  src: url("../assets/outback.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
}

.home {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  padding: 0 1.2rem;
  overflow: hidden;
  background-image: linear-gradient(to left bottom, #210000, #310706, #440609, #57040a, #6a0108, #7b070d, #8d0f10, #9f1713, #b52520, #cb312e, #e13e3b, #f84a4a);
  background-repeat: no-repeat;
}

.main-home {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  width: clamp(83%, calc(1920px - 62vw), 95%);
  margin-left: auto;
  margin-right: auto;
}

.main-title {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-family: "outback";
  font-style: italic;
  color: #d6d6d6;
}
.main-title-2 {
  padding: 0 6%;
  margin: 0;
  font-size: clamp(3rem, calc(3rem + 12vw), 16.5rem);
  filter: drop-shadow(5px 10px 10px black);
  background-image: linear-gradient(to bottom, #ff9c32, #ffa74c, #ffb163, #ffbc7a, #ffc690, #fece9e, #fdd6ac, #fcddbb, #fce3c5, #fce9cf, #fcefda, #fdf4e5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main-title-3, .main-title-1 {
  padding: 0 5%;
  margin: 0;
  margin-left: 9rem;
  filter: drop-shadow(5px 4px 2px rgba(0, 0, 0, 0.7));
  background-image: linear-gradient(to bottom, #ffffff, #fafafa, #f6f6f6, #f1f1f1, #ededed, #e6e6e6, #e0e0e0, #d9d9d9, #cfcfcf, #c5c5c5, #bbbbbb, #b1b1b1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.95));
}
.main-title-1 {
  position: relative;
  font-size: clamp(0.5rem, calc(0.5rem + 2.4vw), 3.1rem);
}
.main-title-3 {
  position: relative;
  top: -1.9rem;
  font-size: clamp(0.5rem, calc(0.5rem + 5vw), 5.6rem);
}

.sneaker-home-img {
  position: absolute;
  top: -5%;
  left: -36%;
  background: no-repeat url("/src/assets/sneaker.png");
  background-position: center;
  background-size: cover;
  width: 165%;
  height: 100%;
  transform: rotate3d(0, 1, 0, 180deg)rotate(25deg);
}

.glassmorphism-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.glassmorphism {
  position: relative;
  top: 0vh;
  margin-right: 8vw;
  width: 27vw;
  height: 27vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 42px 0 rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0.7);
}

.social-media-icons {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
  height: 10vh;
  margin: 0 auto;
  font-size: 2rem;
}

.icons {
  color: rgba(255, 255, 255, 0.3);
  margin: 0 2vw;
}

.fa-facebook,
.fa-instagram,
.fa-twitter,
.fa-pinterest {
  transition: 0.3s;
}
.fa-facebook:hover,
.fa-instagram:hover,
.fa-twitter:hover,
.fa-pinterest:hover {
  cursor: pointer;
  color: white;
  filter: brightness(500%);
  text-shadow: 0px 0px 30px white;
  transition: 0.3s;
}

@media (max-width: 768px) {
  .main-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .main-title {
    position: relative;
    left: -3vw;
    margin-bottom: 5vw;
  }
  .main-title-1 {
    left: calc((110vw - 768px) / 10);
  }
  .main-title-3 {
    top: -2vh;
    left: calc((110vw - 768px) / 10);
  }

  .glassmorphism-box {
    position: relative;
    left: 3vw;
  }

  .glassmorphism {
    width: 50vw;
    height: 50vw;
  }
}
.about main .about-info-team .team-info .team-member-6, .about main .about-info-team .team-info .team-member-5, .about main .about-info-team .team-info .team-member-4, .about main .about-info-team .team-info .team-member-3, .about main .about-info-team .team-info .team-member-2, .about main .about-info-team .team-info .team-member-1 {
  position: relative;
  width: 260px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #d6d6d6;
  padding: 3% 0;
  margin: 3% 3%;
  font-family: "Oswald";
  font-size: clamp(0.6rem, calc(0.6rem + 0.8vw), 1.1rem);
  filter: drop-shadow(5px 13px 15px rgba(0, 0, 0, 0.9));
  border-radius: 10%;
}
.about main .about-info-team .team-info .team-member-6 img, .about main .about-info-team .team-info .team-member-5 img, .about main .about-info-team .team-info .team-member-4 img, .about main .about-info-team .team-info .team-member-3 img, .about main .about-info-team .team-info .team-member-2 img, .about main .about-info-team .team-info .team-member-1 img {
  position: relative;
  width: 50%;
  border-radius: 50%;
}
.about main .about-info-team .team-info .team-member-6 h2, .about main .about-info-team .team-info .team-member-5 h2, .about main .about-info-team .team-info .team-member-4 h2, .about main .about-info-team .team-info .team-member-3 h2, .about main .about-info-team .team-info .team-member-2 h2, .about main .about-info-team .team-info .team-member-1 h2 {
  position: relative;
  margin: 20px 0;
}
.about main .about-info-team .team-info .team-member-6 p, .about main .about-info-team .team-info .team-member-5 p, .about main .about-info-team .team-info .team-member-4 p, .about main .about-info-team .team-info .team-member-3 p, .about main .about-info-team .team-info .team-member-2 p, .about main .about-info-team .team-info .team-member-1 p {
  margin: 5px 0;
}
@media (max-width: 480px) {
  .about main .about-info-team .team-info .team-member-6, .about main .about-info-team .team-info .team-member-5, .about main .about-info-team .team-info .team-member-4, .about main .about-info-team .team-info .team-member-3, .about main .about-info-team .team-info .team-member-2, .about main .about-info-team .team-info .team-member-1 {
    width: 190px;
  }
}

.about main .about-info-men section article h2, .about main .about-info-women section article h2, .about header .about-header .wrap-text-about h2 {
  font-family: "outback";
  font-style: italic;
  color: #d6d6d6;
  font-size: clamp(3rem, calc((3rem + 20vw) / 2), 12rem);
  padding: 0 3vw;
  text-align: center;
  background-image: linear-gradient(to bottom, #ff9c32, #ffa74c, #ffb163, #ffbc7a, #ffc690, #fece9e, #fdd6ac, #fcddbb, #fce3c5, #fce9cf, #fcefda, #fdf4e5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(5px 10px 10px black);
}

body {
  margin: 0;
  padding: 0;
}

.about {
  min-height: 100vh;
  background-color: #d8d8d8;
}
.about header {
  height: 100vh;
}
.about header .about-header {
  width: 100%;
  height: 100%;
  padding: 0rem 1.2rem;
  overflow: hidden;
  background: linear-gradient(to left bottom, rgba(33, 0, 0, 0.99), rgba(49, 7, 6, 0.98), rgba(68, 6, 9, 0.97), rgba(87, 4, 10, 0.95), rgba(106, 1, 8, 0.93), rgba(120, 7, 13, 0.91), rgba(141, 15, 15, 0.89), rgba(159, 24, 19, 0.87), rgba(181, 37, 32, 0.85), rgba(204, 49, 46, 0.83), rgba(225, 62, 59, 0.81), rgba(248, 74, 74, 0.81)), url("/src/assets/bg-about.webp");
  background-repeat: no-repeat;
  background-position: center top 0px;
  background-size: cover;
  background-attachment: fixed;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 50% 90%, 0 75%);
}
.about header .about-header .wrap-text-about {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
}
.about main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.about main .about-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60vw;
  opacity: 0;
  margin-bottom: 3vw;
}
@media (max-width: 1024px) {
  .about main .about-info {
    width: 100vw;
    flex-direction: column;
    justify-content: start;
  }
}
.about main .about-info .about-title-description {
  width: 50%;
  font-family: "Oswald";
  color: #2b2b2b;
  font-size: clamp(0.6rem, calc(0.6rem + 0.8vw), 1.1rem);
}
@media (max-width: 1024px) {
  .about main .about-info .about-title-description {
    width: 80%;
  }
}
.about main .about-info .about-title-description h2 .border {
  position: relative;
  width: 0%;
  max-width: 30%;
  height: 3px;
  background-color: #2b2b2b;
  top: 6px;
}
.about main .about-info .about-title-description p {
  text-align: justify;
  margin-bottom: 2rem;
}
.about main .about-info img {
  width: 25vw;
  height: 16vw;
}
@media (max-width: 1024px) {
  .about main .about-info img {
    width: 50vw;
    height: 30vw;
    margin-bottom: 2rem;
  }
}
@media (max-width: 480px) {
  .about main .about-info img {
    width: 65vw;
    height: 40vw;
  }
}
.about main .about-info-women {
  position: relative;
  width: 100%;
  min-height: 70vh;
}
.about main .about-info-women .about-info-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: polygon(0 40%, 100% 0, 100% 90%, 0 70%);
  background: linear-gradient(to left bottom, rgba(20, 0, 31, 0.9), rgba(53, 24, 72, 0.9), rgba(93, 40, 114, 0.9), rgba(139, 57, 157, 0.9), rgba(91, 81, 92, 0.9)), url("/src/assets/sneakers-women-bg.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.9;
}
.about main .about-info-women section {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
@media (max-width: 768px) {
  .about main .about-info-women section {
    flex-direction: column-reverse;
    align-items: flex-end;
  }
}
.about main .about-info-women section .sneaker-women-img {
  background: no-repeat url("/src/assets/sneakers-women.webp");
  background-position: center;
  background-size: cover;
  width: 53vw;
  height: 70%;
  transform: rotate3d(0, 0, 0, 180deg)rotate(25deg);
}
@media (max-width: 768px) {
  .about main .about-info-women section .sneaker-women-img {
    position: relative;
    top: 2%;
    left: -6%;
    height: 28%;
  }
}
@media (max-width: 480px) {
  .about main .about-info-women section .sneaker-women-img {
    height: 20%;
  }
}
.about main .about-info-women section article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2vw;
}
@media (max-width: 768px) {
  .about main .about-info-women section article {
    position: relative;
    margin-bottom: 0;
    text-align: center;
  }
}
.about main .about-info-women section article h2 {
  margin: 0;
}
.about main .about-info-women section article p {
  width: 30vw;
  margin: 0 auto;
  text-align: justify;
  color: #d6d6d6;
  font-family: "Oswald";
  font-size: clamp(0.6rem, calc(0.6rem + 0.8vw), 1.1rem);
}
@media (max-width: 768px) {
  .about main .about-info-women section article p {
    width: 70vw;
    padding-right: 5vw;
  }
}
.about main .about-info-men {
  position: relative;
  top: -2vh;
  width: 100%;
  min-height: 70vh;
}
.about main .about-info-men .about-info-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: polygon(0 0%, 100% 40%, 100% 70%, 0 90%);
  background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.93), rgba(16, 16, 16, 0.93), rgba(26, 26, 26, 0.93), rgba(36, 36, 36, 0.93), rgba(46, 46, 46, 0.93)), url("/src/assets/sneakers-men-bg.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.9;
}
.about main .about-info-men section {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
@media (max-width: 768px) {
  .about main .about-info-men section {
    flex-direction: column;
    align-items: flex-start;
  }
}
.about main .about-info-men section article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2vw;
}
@media (max-width: 768px) {
  .about main .about-info-men section article {
    position: relative;
    margin-bottom: 0;
    text-align: center;
  }
}
.about main .about-info-men section article h2 {
  margin: 0;
}
.about main .about-info-men section article p {
  width: 30vw;
  margin: 0 auto;
  text-align: justify;
  color: #d6d6d6;
  font-family: "Oswald";
  font-size: clamp(0.6rem, calc(0.6rem + 0.8vw), 1.1rem);
}
@media (max-width: 768px) {
  .about main .about-info-men section article p {
    width: 70vw;
    padding-left: 5vw;
  }
}
.about main .about-info-men section .sneaker-men-img {
  background: no-repeat url("/src/assets/sneakers-men.webp");
  background-position: center;
  background-size: cover;
  width: 53vw;
  height: 70%;
  transform: rotate3d(0.22, 1, 0, 180deg);
}
@media (max-width: 768px) {
  .about main .about-info-men section .sneaker-men-img {
    position: relative;
    top: 2%;
    left: 6%;
    height: 28%;
  }
}
@media (max-width: 480px) {
  .about main .about-info-men section .sneaker-men-img {
    height: 20%;
  }
}
.about main .about-info-team {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 12% 0 8% 0;
  clip-path: polygon(0 20%, 100% 0%, 100% 100%, 0 100%);
  background: linear-gradient(to left bottom, rgba(18, 41, 16, 0.9), rgba(30, 53, 21, 0.9), rgba(43, 66, 26, 0.9), rgba(57, 78, 31, 0.9), rgba(73, 91, 35, 0.9)), url("/src/assets/team-bg.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.95;
}
@media (max-width: 1200px) {
  .about main .about-info-team {
    padding: 15% 0 10% 0;
    clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0 100%);
  }
}
@media (max-width: 1024px) {
  .about main .about-info-team {
    padding: 15% 0 10% 0;
  }
}
@media (max-width: 768px) {
  .about main .about-info-team {
    padding: 30% 0 15% 0;
  }
}
@media (max-width: 480px) {
  .about main .about-info-team {
    padding: 45% 0 20% 0;
  }
}
.about main .about-info-team article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Oswald";
  font-size: clamp(0.6rem, calc(0.6rem + 0.8vw), 1.1rem);
  color: #d6d6d6;
  text-align: center;
  opacity: 0;
}
.about main .about-info-team article h2 {
  font-size: clamp(1.5rem, calc(0.5rem + 2vw), 2.6rem);
}
.about main .about-info-team article p {
  width: 50vw;
}
.about main .about-info-team .team-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  max-width: 1320px;
  margin: 0 auto;
  opacity: 0;
}
.about main .about-info-team .team-info .team-member-2,
.about main .about-info-team .team-info .team-member-5 {
  position: relative;
  top: 60px;
}
@media (max-width: 1191px) {
  .about main .about-info-team .team-info .team-member-2,
.about main .about-info-team .team-info .team-member-5 {
    top: 0%;
  }
}
.about footer {
  height: 100vh;
}

@media (max-width: 1024px) {
  footer {
    background-color: #ff8888;
  }
}
@media (max-width: 768px) {
  footer {
    background-color: #88bfff;
  }
}
@media (max-width: 480px) {
  footer {
    background-color: #fffd88;
  }
}
@keyframes scroll-reveal {
  100% {
    opacity: 1;
  }
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2vh;
  height: 10vh;
  z-index: 10;
}
.navbar__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar__logo-text {
  font-family: "Oswald", sans-serif;
  font-size: clamp(1.3rem, calc(0.8rem + 0.8vw), 1.8rem);
  text-decoration: none;
  color: #dadada;
}
.navbar__logo-img {
  width: clamp(2.3rem, calc(1.5rem + 2vw), 2.9rem);
  margin: 0 2vw;
  margin-right: 10px;
}
.navbar__items {
  display: flex;
  align-items: center;
  list-style: none;
  font-size: clamp(1rem, calc(0.8rem + 0.7vw), 1.3rem);
  margin: 0 2vw;
}
.navbar__item {
  font-family: "Oswald", sans-serif;
  color: rgba(218, 218, 218, 0.3);
  margin: 0 clamp(0.6rem, calc(0.4rem + 1.3vw), 1.5rem);
  text-decoration: none;
  transition: 0.3s;
}
.navbar__item:hover {
  color: white;
  filter: brightness(500%);
  text-shadow: 0px 0px 30px white;
  transition: 0.3s;
}

@media (max-width: 480px) {
  .navbar__items {
    display: none;
  }
}
/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  display: none;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: rgba(218, 218, 218, 0.5);
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: rgba(218, 218, 218, 0.5);
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

.hamburger:hover .hamburger-inner {
  background-color: #fff;
  filter: brightness(500%);
  box-shadow: 0px 0px 30px white;
  transition: 0.3s;
}

.hamburger:hover .hamburger-inner::before {
  background-color: #fff;
  filter: brightness(500%);
  box-shadow: 0px 0px 30px white;
  transition: 0.3s;
}

.hamburger:hover .hamburger-inner::after {
  background-color: #fff;
  filter: brightness(500%);
  box-shadow: 0px 0px 30px white;
  transition: 0.3s;
}

.hamburger--squeeze .hamburger-inner {
  transition-duration: 0.075s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze .hamburger-inner::before {
  transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}

.hamburger--squeeze .hamburger-inner::after {
  transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze.is-active .hamburger-inner {
  transform: rotate(45deg);
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--squeeze.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
}

.hamburger--squeeze.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
}

ul {
  list-style: none;
}

.black-bg {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  z-index: -10;
  font-family: "Oswald", sans-serif;
  font-size: clamp(3vw, calc(2rem + 1vw), 5vw);
  color: rgba(218, 218, 218, 0.5);
  background-color: rgba(0, 0, 0, 0.98);
}
.black-bg.is-active {
  display: flex;
  transition: 1s;
}

.hamburger-menu-list {
  margin-bottom: 10vw;
  transition: 0.3s;
  cursor: pointer;
  text-decoration: none;
  color: rgba(218, 218, 218, 0.5);
}
.hamburger-menu-list:hover {
  color: white;
  filter: brightness(500%);
  text-shadow: 0px 0px 30px white;
  transition: 0.3s;
}

@media (max-width: 480px) {
  .hamburger {
    display: inline-block;
  }
}
.about-brand {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 50vh;
  overflow: hidden;
  background-image: linear-gradient(to top, #090909, #161616, #1f1f1f, #282828, #323232);
}
@media (max-width: 768px) {
  .about-brand {
    height: 35vh;
  }
}
@media (max-width: 480px) {
  .about-brand {
    height: 30vh;
  }
}
.about-brand h2 {
  font-family: "Oswald";
  font-size: clamp(1.5rem, calc(0.5rem + 2vw), 2.6rem);
  padding-top: 50px;
  margin: 0;
  color: #d6d6d6;
}
.about-brand .brands {
  display: flex;
  position: absolute;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 7vh;
  animation: slide 50s infinite linear;
  filter: invert(90%);
}
@media (max-width: 1024) {
  .about-brand .brands {
    transform: scale(2.5);
  }
}
.about-brand .brands .brand-1,
.about-brand .brands .brand-2,
.about-brand .brands .brand-3,
.about-brand .brands .brand-4,
.about-brand .brands .brand-5,
.about-brand .brands .brand-6,
.about-brand .brands .brand-7,
.about-brand .brands .brand-8,
.about-brand .brands .brand-9,
.about-brand .brands .brand-10,
.about-brand .brands .brand-11 {
  width: 18vw;
  height: 14vw;
  margin: 0 15px;
}
.about-brand .brands .brand-2 {
  width: 15vw;
  height: 8vw;
}
.about-brand .brands .brand-3 {
  width: 18vw;
  height: 16vw;
  margin-left: 80px;
}
@media (max-width: 768px) {
  .about-brand .brands .brand-3 {
    margin-left: 50px;
  }
}
.about-brand .brands .brand-4 {
  width: 24vw;
  height: 24vw;
  padding-top: 30px;
}
@media (max-width: 768px) {
  .about-brand .brands .brand-4 {
    padding-top: 5px;
  }
}
.about-brand .brands .brand-5 {
  width: 12vw;
  height: 8vw;
}
.about-brand .brands .brand-6 {
  width: 19vw;
  height: 13vw;
  margin-left: 30px;
}
.about-brand .brands .brand-7 {
  width: 15vw;
  height: 9vw;
  margin-left: 30px;
}
.about-brand .brands .brand-8 {
  width: 26vw;
  height: 9vw;
  margin-left: 40px;
}
.about-brand .brands .brand-9 {
  width: 13vw;
  height: 8vw;
  margin-left: 60px;
}
@media (max-width: 768px) {
  .about-brand .brands .brand-9 {
    margin-left: 40px;
  }
}
.about-brand .brands .brand-10 {
  width: 20vw;
  height: 18vw;
  margin-left: 60px;
}
@media (max-width: 768px) {
  .about-brand .brands .brand-10 {
    margin-left: 40px;
  }
}
.about-brand .brands .brand-11 {
  width: 26vw;
  height: 21vw;
  margin-left: 0px;
}

@media (max-width: 1920px) {
  @keyframes slide {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-215%);
    }
  }
}
@media (max-width: 1024px) {
  @keyframes slide {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-235%);
    }
  }
}
@media (max-width: 768px) {
  @keyframes slide {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-242%);
    }
  }
}
@media (max-width: 480px) {
  @keyframes slide {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-300%);
    }
  }
}
.about-stats-counters {
  background-color: #d6d6d6;
  width: 100%;
  height: 50vh;
  padding: 0 10vw;
}
.about-stats-counters .stats {
  margin: 0 auto;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  color: #2b2b2b;
  font-family: "Oswald";
}
@media (max-width: 768px) {
  .about-stats-counters .stats {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0px;
  }
}
.about-stats-counters .stats .stat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 5vw;
}
.about-stats-counters .stats .stat i {
  font-size: clamp(1rem, calc(0.5rem + 5vw), 3rem);
}
.about-stats-counters .stats .stat h3 {
  margin: 0;
  font-size: clamp(0.6rem, calc(0.6rem + 0.8vw), 1.1rem);
}
.about-stats-counters .stats .stat .container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(0.6rem, calc(0.6rem + 2vw), 2.8rem);
}
.about-stats-counters .stats .stat .container .counter {
  margin: 2.5vh 0;
  font-size: clamp(0.6rem, calc(0.6rem + 2vw), 2.8rem);
}
.about-stats-counters .stats .stat .container span {
  margin-left: 5px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/*# sourceMappingURL=main.css.map */
