@use '../../sass/colors';

.about-brand{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 50vh;
    overflow: hidden;
    background-image: linear-gradient(to top, #090909, #161616, #1f1f1f, #282828, #323232);
    h2{
        font-family: "Oswald";
        font-size: clamp(1.5rem, calc(0.5rem + 2vw), 2.6rem);
        padding-top: 50px;
        margin: 0;
        color: colors.$font-color-secondary;
    }
    .brands{
        display: flex;
        position: absolute;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 100%;
        padding-top: 7vh;
        animation: slide 100s infinite linear;
        filter: invert(90%);

        .brand-1,
        .brand-2,
        .brand-3,
        .brand-4,
        .brand-5,
        .brand-6,
        .brand-7,
        .brand-8,
        .brand-9,
        .brand-10,
        .brand-11{
            width: 18vw;
            height: 14vw;
            margin: 0 15px;
        }
        .brand-2{
            width: 15vw;
            height: 8vw;
        }
        .brand-3{
            width: 18vw;
            height: 16vw;
            margin-left: 80px;
        }
        .brand-4{
            width: 24vw;
            height: 24vw;
            padding-top: 30px;
        }
        .brand-5{
            width: 12vw;
            height: 8vw;
        }
        .brand-6{
            width: 19vw;
            height: 13vw;
            margin-left: 30px;
        }
        .brand-7{
            width: 15vw;
            height: 9vw;
            margin-left: 30px;
        }
        .brand-8{
            width: 26vw;
            height: 9vw;
            margin-left: 40px;

        }
        .brand-9{
            width: 13vw;
            height: 8vw;
            margin-left: 60px;
        }
        .brand-10{
            width: 20vw;
            height: 18vw;
            margin-left: 60px;
        }
        .brand-11{
            width: 26vw;
            height: 21vw;
            margin-left: 0px;
        }    
    }
}

@keyframes slide{
    0%{
        transform: translateX(0%);
    }
    100%{
        //1920px
        transform: translateX(-215%);
        //750px
        // transform: translateX(-260%);
    }
}